@font-face {
  font-family: "iconfont";
  /* Project id 3265804 */
  /* 这里面的url地址全都要引入自己系统内所下载的 */
  src: url(../fonts/iconfont.ttf) format('woff2'),
    url(../fonts/iconfont.ttf) format('woff'),
    url(../fonts/iconfont.ttf) format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




/* 这是另一种导入字体图标的方法（线上导入，一般自己敲的时候可以用一下，因为需要有网络） */
/* @font-face {
    font-family: "iconfont logo";
    src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834');
    src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834#iefix') format('embedded-opentype'),
      url('https://at.alicdn.com/t/font_985780_km7mi63cihi.woff?t=1545807318834') format('woff'),
      url('https://at.alicdn.com/t/font_985780_km7mi63cihi.ttf?t=1545807318834') format('truetype'),
      url('https://at.alicdn.com/t/font_985780_km7mi63cihi.svg?t=1545807318834#iconfont') format('svg');
  }  */