@font-face {
    font-family: "gufeng";
    /* Project id 3265804 */
    /* 这里面的url地址全都要引入自己系统内所下载的 */
    src: url(../fonts/古风字体.ttf) format('woff2'),
        url(../fonts/古风字体.ttf) format('woff'),
        url(../fonts/古风字体.ttf) format('truetype');

}

@font-face {
    font-family: "iconfont";
    /* Project id 3265804 */
    src: url(../fonts/PI_iconfont/iconfont.woff2) format('woff2'),
        url(../fonts/PI_iconfont/iconfont.woff) format('woff'),
        url(../fonts/PI_iconfont/iconfont.ttf) format('truetype');
}


@font-face {
    font-family: "iconfont2";
    /* Project id 3265804 */
    src: url(../fonts/work_iconfont/iconfont.woff2) format('woff2'),
        url(../fonts/work_iconfont/iconfont.woff) format('woff'),
        url(../fonts/work_iconfont/iconfont.ttf) format('truetype');
}