@font-face {
  font-family: "iconfont"; /* Project id 3265804 */
  src: url('iconfont.woff2?t=1654264938122') format('woff2'),
       url('iconfont.woff?t=1654264938122') format('woff'),
       url('iconfont.ttf?t=1654264938122') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-to-bottom:before {
  content: "\e61a";
}

.icon-top:before {
  content: "\e653";
}

.icon-shuaxin:before {
  content: "\e60a";
}

.icon-right:before {
  content: "\e642";
}

.icon-down1:before {
  content: "\e69b";
}

.icon-14shopcar:before {
  content: "\e605";
}

