body {
    background: url(../images/index/mainbg2.jpg) no-repeat center -16px fixed;
}

/* 头部分 */
header {
    overflow: hidden;
    /* 这里不给宽度就会默认跟浏览器一样宽 */
    height: 300px;
    margin: 10px;
}

.hl {
    position: absolute;
    z-index: 2;
}

.hl h2 {
    margin-left: 45px;
    font: normal 400 70px "gufeng";
    color: rgb(120, 141, 214);
}

.hl ul {
    margin-left: 53px;
}

.hl ul li {
    text-decoration: underline;
    margin-bottom: 5px;
    font-family: 'gufeng';
    font-size: 16px;
}

.sum_bird_box {
    position: relative;

}

.bird_box,
.bird_box2,
.bird_box3,
.bird_box4 {
    position: absolute;
    top: 0;
    left: -100px;
    z-index: 1;
    width: 18.1px;
    height: 510px;
    overflow: hidden;
    animation: bird_box 15s linear infinite;
    /* background-color: pink; */
}

.bird {
    width: 370px;
    height: 100%;
    background-color: blue;
    background: url(../images/index/bird.png) no-repeat;
    /* 这个背景图的大小是按照盒子宽度和高度来缩小的 */
    background-size: 50%;
    animation: bird 1s steps(10) infinite;
}

.bird_box2 {
    top: 10px;
    animation-delay: 0.3s;
    animation-timing-function: linear;
}

.bird_box3 {
    top: 13px;
    animation-delay: 0.5s;
    animation-timing-function: linear;
}

.bird_box4 {
    top: 5px;
    animation-delay: 0.9s;
    animation-timing-function: linear;
}

@keyframes bird {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -181px 0;
    }
}

@keyframes bird_box {
    0% {
        left: 0%;
    }

    40% {
        /* 然后鸟就会慢慢的下降，到40%的时候就是离上方50px */
        top: 50px;
    }

    100% {
        left: 110%;
    }
}

/* 底部 */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
    /* background-color: pink; */
}

.left {
    width: 920px;
    height: 100%;
}

.left .catalogue {
    float: left;
    width: 916px;
    height: 100%;
    /* 这里只给ul加背景色，这样li的阴影就不会被自己的背景色覆盖 */
    background-color: #a6c4d3;

}

.catalogue li {
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
    line-height: 110px;
    /* 水平往外延的阴影 */
    /* 不要给自己加背景色，不然往外延的阴影会被覆盖，一定要加的话，那就给个负值，让阴影往内延 */
    box-shadow: 15px 0 24px 0px rgba(0, 0, 0, .3);
    transition: all 0.3s;
}

.catalogue li:first-child {
    color: #fff;
    line-height: 110px;
    font-family: 'gufeng';
    font-size: 50px;
    background-color: #4f809b;
}

.catalogue li:first-child:hover {
    margin: -5px 15px 0 0;
}

.catalogue li:nth-child(n + 2):hover {
    margin-left: 15px;
}

.catalogue li a {
    display: block;
    font-family: 'gufeng';
    font-size: 30px;
    width: 100%;
    height: 100%;
    color: rgb(13, 12, 12);
}