body {
    background-color: #767f95;
    animation: color 25s infinite forwards;
    transition: animation .3s;
}

@keyframes color {
    0% {
        background-color: #767f95;
    }

    25% {
        background-color: #3b8d83;
    }

    50% {
        background-color: #767f95d8;
    }

    75% {
        background-color: #4dd4a78f;
    }

    100% {
        background-color: #4f7251b7;
    }
}

.header {
    position: sticky;
    /* 加粘性定位一定要给一个定位的属性值 */
    z-index: 999;
    top: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 15px 25px;
    background-color: #fff;
}

.nav {
    height: 100%;
}

.nav ul {
    display: flex;
    height: 80px;
}

.nav ul li {
    display: flex;
    flex: 1;
    /* background-color: pink; */
    text-align: center;
}

.nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    line-height: 80px;
    font: normal 700 23px "gufeng";
    transition: all .5s;
}

.nav ul li a:hover {
    color: #235168;
    transform: scale(1.05);
}

.menu {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100px;
    height: 350px;
    background-color: #37474f;
}

.menu ul {
    width: 100%;
    height: 100%;
}

.menu ul li {
    display: flex;
    transform-style: preserve-3d;
    width: 100%;
    height: 50px;
    transition: all .1s;

    /* 因为后面的定位会导致flex布局和属性失效，所以就添加了这些 */
    text-align: center;
    line-height: 50px;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;

    /* 这个width是给加了定位的 */
    width: 100%;
    flex: 1;
    color: #fff;

}


/* 菜单第一个样式 */

.menu ul li:first-child:hover {
    transform: rotateX(90deg);
}

.menu ul li:first-child a {
    transform: translateZ(25px);
}

.menu ul li:first-child a:nth-child(2) {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 700;
    transform: translateY(25px) rotateX(-90deg);
    background-color: #21333c;
}

.menu ul li:first-child a:nth-child(2):hover {
    color: aquamarine;
}

/* 侧边菜单的第四个 跟第一个一样 */
.menu ul li:nth-child(4):hover {
    transform: rotateX(90deg);
}

.menu ul li:nth-child(4) a {
    transform: translateZ(25px);
}

.menu ul li:nth-child(4) a:nth-child(2) {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 700;
    transform: translateY(25px) rotateX(-90deg);
    background-color: #21333c;
}

.menu ul li:nth-child(4) a:nth-child(2):hover {
    color: aquamarine;
}

/* 侧边菜单第二个 */
.menu ul li:nth-child(2) {
    overflow: hidden;
}

.menu ul li:nth-child(2) a:first-child {
    position: absolute;
    width: 100%;
    top: 0;
    transition: top .3s;

}

.menu ul li:nth-child(2) a:nth-child(2) {
    position: absolute;
    width: 100%;
    top: 0;
    left: -100px;
    color: #fff;
    transition: left .3s;
}

.menu ul li:nth-child(2):hover a:nth-child(1) {
    color: green;
    top: 50px;
}

.menu ul li:nth-child(2):hover a:nth-child(2) {
    color: aquamarine;
    font-weight: 700;
    left: 0;
}

/* 侧边菜单第五个，跟第二个一样 */
.menu ul li:nth-child(5) {
    overflow: hidden;
}

.menu ul li:nth-child(5) a:first-child {
    position: absolute;
    width: 100%;
    top: 0;
    transition: top .3s;

}

.menu ul li:nth-child(5) a:nth-child(2) {
    position: absolute;
    width: 100%;
    top: 0;
    left: -100px;
    color: #fff;
    transition: left .3s;
}

.menu ul li:nth-child(5):hover a:nth-child(1) {
    color: green;
    top: 50px;
}

.menu ul li:nth-child(5):hover a:nth-child(2) {
    color: aquamarine;
    font-weight: 700;
    left: 0;
}

/* 侧边第三个 */
.menu ul li:nth-child(3) {
    position: relative;
    transform-style: preserve-3d;
    transition: all .1s;

}

.menu ul li:nth-child(3) a {
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul li:nth-child(3) a:first-child {
    background-color: #37474f;
}

.menu ul li:nth-child(3) a:first-child:hover {
    color: antiquewhite;
}

.menu ul li:nth-child(3) a:nth-child(2) {
    transform: translateZ(-1px) rotateY(180deg);
    background-color: #37474f;
}

.menu ul li:nth-child(3) a:nth-child(2):hover {
    color: aqua;
    font-weight: 700;
}

.menu ul li:nth-child(3):hover {
    transform: rotateY(180deg);
}

/* 侧边菜单 第六个 跟第三个一样 */
.menu ul li:nth-child(6) {
    position: relative;
    transform-style: preserve-3d;
    transition: all .1s;

}

.menu ul li:nth-child(6) a {
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul li:nth-child(6) a:first-child {
    background-color: #37474f;
}

.menu ul li:nth-child(6) a:first-child:hover {
    color: antiquewhite;
}

.menu ul li:nth-child(6) a:nth-child(2) {
    transform: translateZ(-1px) rotateY(180deg);
    background-color: #37474f;
}

.menu ul li:nth-child(6) a:nth-child(2):hover {
    color: aqua;
    font-weight: 700;
}

.menu ul li:nth-child(6):hover {
    transform: rotateY(180deg);
}

/* 侧边菜单的第7个 跟第一个一样 */
.menu ul li:nth-child(7):hover {
    transform: rotateX(90deg);
}

.menu ul li:nth-child(7) a {
    transform: translateZ(25px);
}

.menu ul li:nth-child(7) a:nth-child(2) {
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 50px;
    font-weight: 700;
    transform: translateY(25px) rotateX(-90deg);
    background-color: #21333c;
}

.menu ul li:nth-child(7) a:nth-child(2):hover {
    color: aquamarine;
}

/* 各种案例start */
.tran_anli1 {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
    /* background-color: pink; */
    text-align: center;


}

.tran_anli1 h1 {
    color: skyblue;
    margin-bottom: 5px;
}

.pkBox {
    position: relative;
    width: 700px;
    height: 900px;
    background: url(../images/opus/R-C.jpg) no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.pkBox .pk {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
}

.pk li {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 旋转的圆心 */
    transform-origin: 75% 92%;
    /* 0.9s是规定要多少秒完成，因为rotate旋转的数值越大,因为是要平均分配时间 */
    /* 同样的时间干的事情不一样，所以数值越大的旋转就会更快 */
    transition: transform 1.3s;
}

.pkBox li img {
    width: 100%;
    height: 100%;
}

.pkBox:hover .pk>li:nth-of-type(1) {
    transform: rotate(60deg);
}

.pkBox:hover li:nth-of-type(2) {
    transform: rotate(120deg);
}

.pkBox:hover li:nth-of-type(3) {
    transform: rotate(180deg);
}

.pkBox:hover li:nth-of-type(4) {
    transform: rotate(240deg);
}

.pkBox:hover li:nth-of-type(5) {
    transform: rotate(300deg);
}

.pkBox:hover li:nth-of-type(6) {
    transform: rotate(360deg);
}

/* 过渡样式2 */
.tran_anli2 {
    width: 800px;
    margin: 40px auto;
}

.puke_rote {
    transform-style: preserve-3d;
    width: 300px;
    /* background-color: blue; */
    margin: 0 auto;

}

.puke_rote img {
    width: 100%;
    transition: transform 3s;
}

.tran_anli2:hover .puke_rote img {
    transform: rotateY(360deg) rotateX(180deg);
}

/* 过渡第三个案例，经过弹出小人 */

.tran3 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.mini_box {
    position: relative;
    width: 280px;
    height: 150px;
    margin: 100px auto;

}

.mini_box a {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    border: 3px solid black;
    border-radius: 30px;
    z-index: 3;
    font-size: 16px;
    background-color: rgb(36, 199, 134);
    transition: all .4s steps(25);

}

.mini_box img {
    position: absolute;
    background-image: url(../images/opus/miniperson.png);
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 80px;
    height: 80px;
    background-size: 100%;
    z-index: 1;
    transition: all .8s;
}

.mini_box a:hover+img {
    top: -40px;
    right: -40px;
    transform: rotate(45deg);
}

.mini_box a:hover {
    border-color: rgb(16, 35, 209);
    background-color: rgb(38, 218, 212);
}

/* 动画案例展示 */

/* 第一个动画案例展示 */
.anli {
    width: 100%;
}

.one_anli_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;

}

.one_anli_box h1 {
    color: aquamarine;
}

.one_anli {
    display: flex;
    width: 100%;
    height: 150px;
}

.one_anli ul {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -50px;
}

.one_anli ul li {
    flex: 1;
    height: 100%;
}

.one_anli ul li {
    background: url(../images/opus/CZJava.png) no-repeat;
    animation: move 2s steps(23) infinite;
}

@keyframes move {
    0% {
        background-position: 13px 0;
    }

    100% {
        background-position: 13px -3450px;
    }
}

.one_anli ul li:nth-child(2) {
    background: url(../images/opus/CZhtml.png) no-repeat;
}

.one_anli ul li:nth-child(3) {
    background: url(../images/opus/CZPyth.png) no-repeat;
}

.one_anli ul li:nth-child(4) {
    background: url(../images/opus/CZceshi.png) no-repeat;
}

.one_anli ul li:nth-child(5) {
    background: url(../images/opus/CZmange.png) no-repeat;
}

.one_anli ul li:nth-child(6) {
    background: url(../images/opus/CZUi.png) no-repeat;
}

.one_anli ul li:nth-child(7) {
    background: url(../images/opus/CZvideo.png) no-repeat;
}

.one_anli ul li:nth-child(8) {
    background: url(../images/opus/CZAI.png) no-repeat;
}

/* 第二个动画案例展示 */
.second_anli_box {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 500px;
}

.second_anli_box h1 {
    color: aquamarine;
}

.second_anli li {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 200px;
    height: 200px;
    background: url(../images/PI/a_after_bg.png) no-repeat;
    background-position: -1900px 0;
    animation: se_an 1.2s steps(7) infinite, se_an_box 10s linear infinite;
    z-index: 2;
}


.second_road {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 308px;
    background-color: gray;
    transform: skewX(48deg);
    animation: se_road_bg_color 10s infinite;
}

/*  */
@keyframes se_road_bg_color {
    0% {
        background-color: gray;
    }

    25% {
        background-color: rgb(138, 233, 74);
    }

    50% {
        background-color: skyblue;
    }

    75% {
        background-color: rgb(178, 214, 46);

    }

    100% {
        background-color: aqua;
    }
}

@keyframes se_an {
    0% {
        background-position: -1900px 0;
    }

    100% {
        background-position: -44px 0;
    }
}

@keyframes se_an_box {
    0% {
        left: 0;
    }

    100% {
        left: 91%;
    }
}


/* 3d案例展示 */
.pre_3d h1 {
    color: wheat;
}

.one_3d {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}

.one_3d_box {
    width: 200px;
    height: 400px;
    margin: 0 auto;
}

.one_3d_box ul {
    position: relative;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: transform 10s;
    /* background-color: pink; */
}

.one_3d_box ul li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background-color: skyblue;
    transition: all .9s;
}

.one_3d_box ul li:first-child {
    transform: translateZ(100px) rotateX(90deg);
}

.one_3d_box ul li:nth-child(2) {
    transform: translateZ(-100px) rotateX(-90deg);
}

.one_3d_box ul li:nth-child(3) {
    transform: rotateX(-90deg);
}

.one_3d_box ul li:nth-child(4) {
    transform: rotateX(-90deg);
}

.one_3d_box ul li:nth-child(5) {
    transform: translateX(-100px) rotateX(90deg);
}

.one_3d_box ul li:nth-child(6) {
    transform: translateX(100px) rotateX(90deg);

}

.one_3d_box ul {
    transform: rotateX(-25deg) rotateY(-25deg);
}

.one_3d_box ul:hover li:first-child {
    background-color: purple;
    /* 往我面前走 */
    transform: translateZ(50px) rotateX(-180deg);
}

.one_3d_box ul:hover li:nth-child(2) {
    background-color: pink;
    transform: translateZ(-50px) rotateX(-180deg);
}

.one_3d_box ul:hover li:nth-child(3) {
    background-color: aquamarine;
    transform: translateY(-50px) rotateX(-90deg);
}

.one_3d_box ul:hover li:nth-child(4) {
    background-color: orange;
    transform: translateY(50px) rotateX(-90deg);
}

.one_3d_box ul:hover li:nth-child(5) {
    background-color: red;
    transform: translateX(-50px) rotateX(180deg) rotateY(90deg);
}

.one_3d_box ul:hover li:nth-child(6) {
    background-color: green;
    transform: translateX(50px) rotateX(180deg) rotateY(90deg);
}

/* diy魔方 */
.second_pre {
    position: relative;
    width: 800px;
    height: 500px;
    margin: 0 auto;
    text-align: center;
}


.second_3d_box {
    transform-style: preserve-3d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 210px;
    background-color: purple;
    transition: all 15s;
    animation: child_move 15s infinite;
}

@keyframes child_move {
    0% {
        transform: translate(-50%, -50%) rotateX(0) rotateY(0);
    }

    100% {
        transform: translate(-50%, -50%) rotateX(720deg) rotateY(-360deg);
    }
}

.second_3d_box ul {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.second_3d_box ul li {
    float: left;
    width: 70px;
    height: 70px;
    background-color: red;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.second_3d_box ul li {
    background: url(../images/opus/pre_img4.gif) no-repeat;
    background-size: 120%;
}

.second_3d_box ul:first-child {
    transform: translateZ(105px);
}

.second_3d_box ul:first-child li {
    background: url(../images/opus/pre_child.jpg) no-repeat;
    background-size: 120%;
}

.second_3d_box ul:nth-child(2) {
    transform: translateZ(-105px);
}

.second_3d_box ul:nth-child(2) li {
    background: url(../images/opus/pre_child2.jpg) no-repeat;
    background-size: 120%;
}

.second_3d_box ul:nth-child(3) {
    transform: translateX(-105px) rotateY(90deg);
}

.second_3d_box ul:nth-child(3) li {
    background: url(../images/opus/pre_child3.jpg) no-repeat;
    background-size: 120%;
}

.second_3d_box ul:nth-child(4) {
    transform: translateX(105px) rotateY(-90deg);
}


.second_3d_box ul:nth-child(5) {
    transform: translateY(105px) rotateX(90deg);
}

.second_3d_box ul:nth-child(6) {
    transform: translateY(-105px) rotateX(-90deg);
}