html {
    height: 100%;
}

body {
    background-color: #ededed;
    /* animation: body 0.00001s forwards;
    overflow: hidden;
    animation-delay: 8s; */

}

.body2 {
    /* 为了使内容的滚动条消失，从而让开场变得符合常理 */
    /* 先设置这个总盒子的高度为0，然后在隐藏盒子之外的所有内容 */
    height: 0px;
    overflow: hidden;
    /* 等待开场动画之后就显示内容，且一直保持 */
    animation: body 0.00001s forwards;
    animation-delay: 8s;
}

@keyframes body {
    0% {
        overflow: hidden;
    }

    100% {
        /* 正常显示 */
        overflow: visible;
    }
}

.kaimu {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: url(../images/PI/PI_BG.jpg); */
    background-size: 100%;
    z-index: 99;
    animation: kaimu 0.005s forwards;
    animation-delay: 8s;
}

@keyframes kaimu {
    0% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.kaimu video {
    position: absolute;
    width: 100%;
    height: 100%;
    /* 让视频铺满的样式 */
    object-fit: fill;
}


.RC_box {
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.RC {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rota 25s infinite alternate;
}

@keyframes rota {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: rotateX(-1800deg) rotateY(-1800deg) rotateZ(-1800deg);

    }

    100% {
        transform: rotateX(3600deg) rotateY(3600deg) rotateZ(3600deg);
    }
}

.RC ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

}

.RC ul li {
    float: left;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: green;
}

.RC ul:first-child {
    transform: translateZ(-50%);
}

.RC ul:first-child li {
    background-color: green;
}

.RC ul:nth-of-type(2) {
    transform: translateZ(15px);
}

.RC ul:nth-of-type(2) li {
    background-color: rgb(27, 157, 183);
}

.RC ul:nth-of-type(3) {
    transform: translateX(-50%) rotateY(90deg);
}

.RC ul:nth-of-type(3) li {
    background-color: rgb(29, 198, 150);
}

.RC ul:nth-of-type(4) {
    transform: translateX(50%) rotateY(-90deg);
}

.RC ul:nth-of-type(4) li {
    background-color: pink;

}

.RC ul:nth-of-type(5) {
    transform: translateY(-50%) rotateX(90deg);
}

.RC ul:nth-of-type(5) li {
    background-color: rgb(92, 28, 28);
}

.RC ul:nth-of-type(6) {
    transform: translateY(50%) rotateX(-90deg);
}

.RC ul:nth-of-type(6) li {
    background-color: rgb(95, 36, 172);
}

/* 进度条 */
.PB_box {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    width: 300px;
    height: 15px;
    background-color: rgb(209, 217, 215);
    border: 2px solid rgb(136, 128, 128);
    border-radius: 7.5px;
}

.PB {
    /* 自动把边框的宽度计算了然后减去了 */
    width: calc(100%);
    height: 11px;
    background-color: rgb(12, 54, 70);
    border-radius: 5.5px;
    animation: PB 7.5s linear;
}

@keyframes PB {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}


/* -------网页内容部分--------- */
header {
    overflow: hidden;
    height: 150px;
    /* background-color: pink; */
    /* background: url(../images/PI/R-C.jpg) no-repeat;
    background-size: 100%; */
}

.nav {
    width: 900px;
    height: 30px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: skyblue;

}

.nav ul {
    width: 100%;
    height: 100%;
}

.nav ul li {
    float: left;
    width: calc(100% / 5);
    height: 100%;
    background-color: rgb(133, 155, 160);
    line-height: 30px;
    text-align: center;

}

.nav ul li:nth-child(-n + 4) {
    border-right: 1px solid #fff;
}

.nav ul li a {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.nav ul li a::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    top: -2px;
    background: url(../images/PI/a_after_bg.png) no-repeat;
    background-size: 900%;
    /* background-color: #fff; */
    animation: a_bg 1s steps(8) infinite;
}

@keyframes a_bg {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: -270px 0;
    }
}

.nav ul li:nth-child(2) a::after {
    animation-delay: 0.3s;
}

.nav ul li:nth-child(3) a::after {
    animation-delay: 0.5s;
}

.nav ul li:nth-child(4) a::after {
    animation-delay: 0.345s;
}

.nav ul li a:hover {
    background-color: rgb(88, 33, 122);
}



.introduction {
    width: 100%;
    height: 450px;
    /* background-color: skyblue; */
}

.left {
    float: left;
    width: 600px;
    height: 100%;
    /* background-color: pink; */
    padding-top: 10px;
    /* border: 1px solid pink; */

}

.introduction h2 {
    font-family: "gufeng";
    font-size: 26px;
    text-align: center;
    color: rgb(28, 28, 197);
}

.left h4 {
    font-size: 16px;
    text-indent: 2em;
}

.left p {
    font-size: 14px;
    text-indent: 4em;
}

.school {
    width: 100%;
    height: 318px;
    background-color: green;
    background: url(../images/PI/school.jpg) no-repeat;

}

.right {
    float: left;
    width: 600px;
    height: 100%;
    padding-left: 30px;
    /* background-color: pink; */
}

.right h2 {
    margin: 15px 0 15px 0;
}

.right p {
    font-size: 14px;
    text-indent: 3em;
    margin-top: 15px;
}

.introduction_xiaoju {
    width: 100%;
    /* background-color: #fff; */
}

.introduction_xiaoju h1 {
    font-family: "gufeng";
    font-size: 26px;
    color: rgb(28, 28, 197);
}

.introduction_xiaoju h2 {
    text-indent: 1em;
    font: normal 700 20px "gufeng";
    color: rgb(114, 182, 187);
}

.introduction_xiaoju p {
    text-indent: 2em;
    font-size: 16px;
    margin: 15px 0;
    color: black;
}

.int_du3 span {
    font-weight: 700;
    color: purple;
}

.int_du3 img {
    width: 200px;
    height: 200px;
}





/* 跳转start */
.return {
    position: fixed;
    width: 60px;
    height: 120px;
    left: 50%;
    top: 350px;
    margin-left: 620px;
}

.return ul {
    width: 100%;
    height: 100%;
}

.return ul li {

    width: 100%;
    height: 50%;
}

.return ul li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
    text-align: center;
    color: #8e0bda;
}

.return ul li:first-child a span {
    display: inline-block;
    margin-top: 30px;
    font-size: 10px;
}

.return ul li:first-child a::after {
    content: "\e653";
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    font: normal 700 25px "iconfont";
    transition: all 0.4s;
}

.return ul li:first-child a:hover::after {
    top: -5px;
    color: rgba(36, 154, 53, 0.413);
}


.return ul li:last-child a span {
    display: inline-block;
    margin-top: 2px;
    font-size: 10px;
}

.return ul li:last-child a::after {
    content: "\e61a";
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    font: normal 200 25px "iconfont";
    transition: all 0.4s;
}

.return ul li:last-child a:hover::after {
    top: 30px;
    color: rgba(0, 0, 0, 0.413);

}

/* 跳转end */